html, body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100%;
    background-color: #EFF7FF;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: #F7FBFF;
    background-color: #0060C0;
}
#header span {
    align-self: center;
    padding-top: 2px;
    user-select: none;
}
#header span:first-of-type {
    margin-left: 1rem;
}
#header span:last-of-type {
    margin-right: 1rem;
}
#back, #lang {
    cursor: pointer;
    color: #E7EEF7;
    visibility: hidden;
}
#header:hover #back, #header:hover #lang {
    color: #F7FBFF;
}
#back {
    font-family: Andale Mono, monospace;
    font-weight: 700;
}
#back::after {
    content: "\1F4C2";
}
#back.closed {
    cursor: default;
}
#back.closed::after {
    content: "\1F4C1";
}
#year {
    position: relative;
}
#year.solo {
    cursor: pointer;
}
#year div, #day div, #lang div {
    display: inline;
}
#year #yearselect, #lang #langselect {
    display: none;
}
#display_weekday {
    color: #E7EEF7;
    font-weight: 100;
    font-style: italic;
    font-size: 0.5em;
}
#lang {
    position: relative;
    min-width: 8rem;
    text-align: right;
}
#yearselect, #langselect {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#remaining {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    min-height: calc(100vh - 50px);
}
#remaining .zone {
    display: none;
    max-width: 92%;
    margin: auto;
    min-height: calc(100vh - 55px);
}
#remaining #year_zone {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}
.month {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#remaining #year_zone .month {
    width: calc(25% - 2.5rem);
    min-height: 12vw;
}
#remaining #year_zone .month {
    transition: background-color 2.5s;
}
@keyframes pale_begin {
    from {
        color: #E7EEF7;
    }
    to {
        color: black;
    }
}
#remaining #year_zone .month.actual {
    color: #E7EEF7;
    background-color: #0060C0;
    animation: 2s 0.5s pale_begin;
}
#remaining #year_zone .month.actual .day.top, #remaining #year_zone .month:hover .day.top {
    border-top: thin solid #0060C0;
}
#remaining #year_zone .month.actual .day.right, #remaining #year_zone .month:hover .day.right {
    border-right: thin solid #0060C0;
}
#remaining #year_zone .month.actual .day.bottom, #remaining #year_zone .month:hover .day.bottom {
    border-bottom: thin solid #0060C0;
}
#remaining #year_zone .month.actual .day.left, #remaining #year_zone .month:hover .day.left {
    border-left: thin solid #0060C0;
}
.day.top.right {
    border-top-right-radius: 4px;
}
.day.top.left {
    border-top-left-radius: 4px;
}
.day.right.bottom {
    border-bottom-right-radius: 4px;
}
.day.left.bottom {
    border-bottom-left-radius: 4px;
}
@media screen and (max-width: 1536px) {
    #remaining #year_zone .month {
        width: calc(33% - 2.5rem);
        min-height: 14vw;
    }
    .month .week .day {
        font-size: 0.72em;
    }
}
@media screen and (max-width: 960px) {
    #remaining #year_zone .month {
        width: calc(50% - 2.5rem);
        min-height: 20vw;
    }
}
@media screen and (max-width: 576px) {
    #remaining #year_zone .month {
        width: 100%;
        min-height: 40vw;
    }
    .month .week .day {
        font-size: 0.8em;
    }
    #display_weekday {
        display: none !important;
    }
}
.week {
    flex: 1;
    display: flex;
}
.day {
    flex: 1;
    padding: 0.25rem;
    border: thin solid #E7EEF7;
    cursor: pointer;
    user-select: none;
    transition: all 0.121s;
}
.day.other {
    color: #AAAAAA;
    background-color: #E7EEF7;
    border: thin solid #EFF7FF !important;
    cursor: default;
}
.day.selected {
    color: #F7FBFF;
    background-color: #0060C0;
}
#remaining #year_zone .month .week .day.other {
    cursor: pointer;
}
/*.day span.today {
    position: relative;
    left: -0.1rem;
    padding: 0.1rem 0.15rem;
    border-radius: 50%;
    border: thin solid #0060C0;
}*/
.day.today {
    font-weight: 700;
}
